In [1]:
class Time:
    """
    Represents the time of the day.
    attributes: hour, minute, second
    """

In [2]:
time = Time()

In [10]:
time.hour = 4
time.minute = 40
time.second = 20

In [14]:
# Exercise
def print_time(time: Time):
    return '%.2d:%.2d:%.2d' % (time.hour, time.minute, time.second)

- The format sequence '%.2d' prints an integer using at least two digits, including a leading zero if necessary.

In [15]:
print_time(time)

'04:40:20'

In [22]:
def add_time(t1, t2):
    time = Time()
    time.hour = t1.hour + t2.hour
    time.minute = t1.minute + t2.minute
    time.second = t1.second + t2.second
    
    if time.second >= 60:
        time.second -= 60
        time.minute += 1
        
    if time.minute >= 60:
        time.minute -= 60
        time.hour += 1
    
    return time

In [23]:
t1 = Time()
t2 = Time()
t1.hour = 4
t1.minute = 40
t1.second = 20
t2.hour = 8
t2.minute = 45
t2.second = 30

In [24]:
sum_time = add_time(t1, t2)

In [25]:
print_time(sum_time)

'13:25:50'

In [26]:
def valid_time(time):
    if time.hour < 0 or time.minute < 0 or time.second < 0:
        return False
    elif time.minute > 60 or time.second > 60:
        return False
    return True

In [27]:
valid_time(t1)

True

In [38]:
def add_time(t1, t2):
    if not valid_time(t1) or not valid_time(t2):
        raise ValueError('Time object is not in correct format')
    time = Time()
    time.hour = t1.hour + t2.hour
    time.minute = t1.minute + t2.minute
    time.second = t1.second + t2.second
    
    if time.second >= 60:
        time.second -= 60
        time.minute += 1
        
    if time.minute >= 60:
        time.minute -= 60
        time.hour += 1
    
    return time

In [39]:
t1.hour = -4
add_time(t1, t2)

ValueError: Time object is not in correct format

In [40]:
# use of assert function
def add_time(t1, t2):
    assert valid_time(t1) and valid_time(t2)
    time = Time()
    time.hour = t1.hour + t2.hour
    time.minute = t1.minute + t2.minute
    time.second = t1.second + t2.second
    
    if time.second >= 60:
        time.second -= 60
        time.minute += 1
        
    if time.minute >= 60:
        time.minute -= 60
        time.hour += 1
    
    return time

In [41]:
add_time(t1, t2)

AssertionError:

### Exercise

In [44]:
def mul_time(t, num):
    time = Time()
    time.hour = t.hour * num
    time.minute = t.minute * num
    time.second = t.second * num
    
    if time.second >= 60:
        time.second -= 60
        time.minute += 1
    if time.minute >= 60:
        time.minute -= 60
        time.hour += 1
    return time

In [50]:
mt = mul_time(sum_time, 2)

In [51]:
print_time(mt)

'26:51:40'

In [52]:
print_time(sum_time)

'13:25:50'